* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    background: #da5ebb;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    position: relative;
    width: 100px;
    height: 100px;
  }
  .loader span {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: animate 1s linear infinite;
  }
  .loader span:nth-child(1) {
    background: rgb(135, 219, 168);
    top: 0;
    left: 40px;
  }
  .loader span:nth-child(2) {
    background: rgb(204, 109, 185);
    right: 0;
    top: 40px;
  }
  .loader span:nth-child(3) {
    background: rgb(206, 113, 192);
    bottom: 0;
    left: 40px;
  }
  .loader span:nth-child(4) {
    background: rgb(213, 96, 184);
    left: 0;
    top: 40px;
  }
  
  @keyframes animate {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
     }