* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #ffe3e3, #ffe6f0);
  color: white;
}

header {
  background-color: #2e0d0d;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

nav a:hover {
  color: #ffa500;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 50px;
  background-color: #3a0d0d;
}

.hero-text {
  max-width: 50%;
}

.hero-text h4 {
  color: #ffa500;
  font-size: 20px;
  margin-bottom: 10px;
}

.hero-text h1 {
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 15px;
}

.hero-text span {
  color: #fff;
}

.hero-text p {
  font-size: 16px;
  margin-bottom: 25px;
  color: #eee;
}

.buttons .btn {
  padding: 12px 20px;
  margin-right: 15px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.order {
  background-color: #ffa500;
  color: #000;
}

.contact {
  border: 2px solid #fff;
  color: #fff;
}

.order:hover {
  background-color: #e69500;
}

.contact:hover {
  background-color: #fff;
  color: #000;
}

.hero-image img {
  width: 350px;
  border-radius: 20px;
}